datasets
accelerate
xlsxwriter
pillow
transformers>=4.43
tokenizers>=0.21,<0.22
pandas
numpy<2
pyarrow>=14.0.2
matplotlib
seaborn
tqdm
requests
torch
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0
protobuf>=4.25,<5.0
sentencepiece
